<img src="img/home.png" width="64px" height="64px" ng-click="$ctrl.end()" style="position: absolute;top: 15px;left: 15px;z-index: 1;" />
<div id="ptablet">
    <div style="font-size: 36px;width: 95%;margin: 120px auto;color:dimgray;font-family:monospace">
        <p>Follow the instructions of the robot</p>
        <p>Look at the eyes of the robot</p>
        <p>Stand within half a meter from the robot</p>
    </div>
    <a ng-href='#!game' ng-click='$ctrl.stop()' style="position: relative; bottom:-100px">
        <div class="ui bottom attached button" tabindex="0">BACK</div>
    </a>
</div>
