<img src="img/home.png" width="64px" height="64px" ng-click="$ctrl.end()" style="position: absolute;top: 15px;left: 15px;z-index: 1;"/>
<div id="ptablet">
    <div id="games">
        <div id="game1">
        <a ng-href="#!/view1" ng-click='$ctrl.start_age()'>
            <img class="ui medium rounded image" src="img/age.png" />
            <button id='game_name' class="fluid big ui  grey button" style="position: relative;right: 102px">Guess Age</button>
        </a>
        </div>
        <div id="game2">
        <a ng-href="#!/view2" ng-click='$ctrl.start_emo()'>
            <img class="ui medium rounded image" src="img/gender.png" />
            <button id='game_name' class="fluid big ui  grey  button" style="position: relative;right: 102px">Guess Gender</button>
        </a>
        </div>
    </div>
</div>
